body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-header {
  padding: 20px;
}

.InfoSection {
  margin-bottom: 30px;
}

.card {
  background-color: #f5f5f5;
}

.currency-select {
  padding-left: 0px;
  margin-bottom: 20px;
}
